.editor-preview-full img,
.editor-preview img,
.editor-preview-active img {
  max-width: min(450px, 80vw) !important;
}

[title~="big_img"] {
  min-width: 95%;
}

[title~="medium_img"] {
  min-width: 70%;
}

.big_img {
  min-width: 95%;
}

.med_img {
  min-width: 50%;
}

[href~="blue"] {
  color: darkcyan;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="yellow"] {
  color: goldenrod;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="red"] {
  color: crimson;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="purple"] {
  color: rgb(175, 9, 175);
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="pink"] {
  color: palevioletred;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="orange"] {
  color: #e33e02;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

[href~="db"] {
  color: #007bff;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.article_html table,
.article_html th,
.article_html td {
  border: 1px solid #888;
  padding: 5px;
}

.article_html table {
  border-collapse: collapse;
}

.card {
  margin: 10px;
}

iframe {
  /* width: 500px; adjust to your needs */
  min-width: 100px;
  min-height: 100px;
  max-width: 95% !important; /* to make it responsive */
}
