<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="fotos/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapil P Deshmukh</title>
    <link rel="stylesheet" href="/themes/style.css">
    <link id="theme_select" rel="stylesheet" href="/themes/dark.css">
</head>
<body>
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm Kapil P Deshmukh</h1>
            </div>
            <div class="flux">
                  <div class="flow">
                      
                  </div>  
            </div>
            <div class="intro-wrapper">

                <div class="nav-wrapper">
                    <div class="dots_wrapper">
                        <div class="browser_dot" id="one">
                            <img src="/img/fotos/close.png" alt="">
                        </div>
                        <div class="browser_dot" id="two">
                            <img src="/img/fotos/mini.png" alt="">
                        </div>
                        <div class="browser_dot" id="three">
                            <img src="/img/fotos/maxi.png" alt="">
                        </div>
                    </div>
                    <ul class="navigate">
                        <li><a href="#contact_form">Contact</a></li>
                    </ul>
                </div>
                <div class="left-column">
                    
                    <img src="/img/fotos/op.gif" alt="KPD_GIF" id="profile_pic">
                    <h5 class="settings_note" style="text-align: center;">Gif compressed using my 
                    <span style="color: aqua;">Greedy Compression Algorithm</span>. <br>
                        Original size :  20Mb.
                        Current size : 1.9Mb
                    </h5>
                    <h5 style="text-align: center;line-height: 0;">Pick a Theme :</h5>

                    <div class="theme_opts_wrapper">
                        <div class="theme_dot" id="light"></div>
                        <div class="theme_dot" id="dark"></div>
                        <div class="theme_dot" id="purpura"></div>
                        <div class="theme_dot" id="azul"></div>
                        <div class="theme_dot" id="rosa"></div>
                    </div>
                    <p class="settings_note">*Theme options will be saved for <br> your next visit</p>
                </div>
                <div class="right_column">

                    <div class="fgShadow">
                        <div class="bg">
                            <div class="corner_tl corner"></div>
                            <div class="corner_tr corner"></div>
                            <h3>What I do</h3>
                            <p>CS Student<br> Web Developer <br>Programming Mentor</p>
                            <div class="corner_bl corner"></div>
                            <div class="corner_br corner"></div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>

    <section class="s2 quotes_sec">
        <div class="quotes">
            <a href="/img/quotes_page.html"><h4>Favourite Quotes</h4></a>
        </div>
    </section>
    
    <section class="s2">
        <div class="main-container">
            <div class="about_wrapper">
                <div class="about_me">
                    <h4>More about me</h4>

                    <p>I like to build custom solutions to solve niche problems faced by individuals and organizations.</p>
                    <p>I enjoy challenges and love learning new tech to overcome them. I have the discipline of learning
                        as well as the creativity needed to design a solution
                    </p>

                    <h4>SKILL SET</h4>
                <p>Full Stack web developer with primary focus on the MERN Stack : 
                    <a target="_blank" href="./Kapil_DeshmukhDec2020.pdf">Download Resume</a>
                </p>
                <div class="skills">
                    <ul>
                        <li>Javascript</li>
                        <li>React</li>
                        <li>NodeJS</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                    </ul>
                    
                    <ul>
                        <li>Python</li>
                        <li>Firebase Tools</li>
                        <li>AWS</li>
                        <li>Linux Admin</li>
                        <li>Sanity CMS</li>
                    </ul>
                </div>
                </div>

                <hr>
                

                <div class="kudos">
                    <h4>I love Teaching and Mentoring!</h4>
                    <p>Projects by some of my High School Students</p>
                    <img src="/img/fotos/collage.png" alt="collage" class="kudos_pic">
                    <hr>
                    <h4 style="margin: 0;">Find me online on</h4>
                    <ul>
                        <li><a target="_blank" href="https://github.com/KaProDes">Github : KaProDes</a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/kapil-d/">LinkedIn : /kapil-d</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/kwaytree/" >Instagram : @kwaytree</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">Some of my Past Projects</h3>
            <div class="post_wrap">
                <div class="post">
                    <img src="/img/fotos/p1.png" alt="thumb" class="postThumbnail">
                    <div class="post_preview">
                        <h6 class="post_title">Curriculum Portal</h6>
                        <p class="post_info">A Content Management System for Teachers at an EduTech startup</p>
                    </div>
                </div>

                <div class="post">
                    <img src="/img/fotos/p2.png" alt="thumb" class="postThumbnail">
                    <div class="post_preview">
                        <h6 class="post_title">Anonymized Link Shortener</h6>
                        <p class="post_info">A quick no-sign in URL Shortener service, that encrypts</p>
                    </div>
                </div>

                <div class="post">
                    <img src="/img/fotos/p3.png" alt="thumb" class="postThumbnail">
                    <div class="post_preview">
                        <h6 class="post_title">Hackathon Website</h6>
                        <p class="post_info">Website to handle hackathon team registrations.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Get in Touch</h3>

            <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSeqI6wSde-f283zDZgZ0sWh7dyF4ZUmDEGoc_Wj2k36gtVbzw/formResponse"
            method="POST" id="contact_form" href="#" onclick="resetForm()">
                <label>Name</label>
                <input type="text" class="input_field" name="entry.1873047522">

                <label>Subject</label>
                <input type="text" class="input_field" name="entry.1548012845">

                <label>Email</label>
                <input type="email" class="input_field" name="entry.143648377">

                <label>Message</label>
                <textarea type="text" class="input_field" name="entry.131932742"></textarea>

                <input type="submit" id="submitBtn" value="Send">
            </form>
        </div>
    </section>

    <script src="/js/themeScript/script.js"></script>
</body>
</html>